<div class="student-influencers">
  <div class="student-influencers_left">
    <i class="fas fa-quote-left"></i>
    <p>Better than organic quality users at a phenomenal CPI. Fanbytes simply delivers.</p>
    <%= image_tag 'https://images.pexels.com/photos/1542085/pexels-photo-1542085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    <h5>John Wagner</h5>
    <h6>Senior Recruiter</h6>
  </div>
  <div class="student-influencers_right">
    <h2>Student Influencer Sign Up Form</h2>
    <p>
      Thank you for signing up to be one of our paid campus ambassadors. The task is simple, on selected videos over the next few months we'll email you with details of the campaign, all you'll be required to do is love the video and share it with a small caption. Once you do so send us a screenshot of the shared video and we'll pay you immediately - simple! As you'd imagine demand for our selected spaces in high and we're only selecting 50 student ambassadors!
      Diversity is a core value for SIN and so these questions allow us to promote diversity and provide a range of
      videos/opportunities/posts for every member of the network. We also ask these questions to better understand our network and how to support them, regardless of their background.
    </p>
    <p class="student-influencers_right_alert">* Required</p>
  </div>

</div>
