
<footer class="footer">
  <div class="footer_social-media">
    <a class="social-link" href="https://www.youtube.com/channel/UChKevFkejLt4borC0fiKJhA">
      <i class="fab fa-youtube"></i>
    </a>
    <a class="social-link" href="https://www.facebook.com/StudentInspireNetwork/">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="social-link" href="https://twitter.com/student_inspire">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="social-link" href="https://www.instagram.com/student_inspire/">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="social-link" href="https://www.linkedin.com/company/thestudentinspirenetwork/">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <div class="footer_content">
    <div class="footer_content_one">
      <%= image_tag 'dark-logo.png' %>
      <p class="hidden-xs hidden-sm">We make it easy for students to access information on social plaforms they use every day</p>
    </div>
    <div class="footer_content_two">
      <h4>HQ</h4>
      <p>61 Pencroft Way,<br>Manchester,<br>M16 6JJ</p>
    </div>
  </div>
  <div class="footer_legal">
    <div class="footer_legal_one">
      <p>Terms & Conditions</p>
      <p>-</p>
      <p>Privacy Policy</p>
    </div>
    <p class="footer_legal_two"><i class="far fa-copyright"></i>2019 Student Inspire Network. All Rights Reserved.</p>
  </div>
  <div class="footer_hoxton">
    <p>DEVELOPED BY | <%= link_to 'HOXTON DIGITAL', 'https://www.hoxton-digital.com' %></p>
  </div>
</footer>
