<h1>hello</h1>
<div class="container">
  <div class="employer-header-holder">
    <div class="center">
      <%= image_tag "capgemini-logo.png", class: "employer-logo" %>
    </div>
    <p class="employer-header-text">
      How Gapgemini’s student campaign got them a 17.3% CTR.
    </p>
  </div>

  <div class="employers-body-section">
    <h3>Campaign Objective</h3>
    <p>In the challenging graduate recruitment world, Capgemini, a forward thinking tech consultancy firm looked to attract students across the UK to their graduate consultancy positions. Our partners wanted to showcase the client facing nature of the role without visiting client site, convey the inclusive working culture, collaborative working environment and their overall fun/friendly workplace vibe. Prior to approaching Student Inspire Network, they had not previously run any social campaigns and our help was enlisted in supporting them navigate the often confusing world of social recruitment.
    </p>
  </div>
  <div class="employers-body-section">
    <h3>What did we do?</h3>
    <p>Needing a way to efficiently target the relevant audience, we deployed a handful of our student influencers with a strong student following and asked them to marketing campaign content to their respective student audience. Relying on familiar pop culture sentiments and relatable student norms such as vlogs, memes and fast cut scene editing styles, we were able to create and deliver a campaign that felt relatable and comfortable to the student demographic. We were able to convey the client facing nature of the role through a clever use of cut scenes, actors and carefully orchestrated motion graphics.
    </p>
  </div>
  <div style="display: flex; justify-content: center;flex-direction: row;">
    <iframe width="970" height="546" src="https://www.youtube.com/embed/TP3xIb9nlpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="employers-body-section mt60">
    <h3>Results</h3>
    <p>Our strategy paid off, developing a student campaign that took the student demographic by storm and generated a resounding 17.3% CTR to their website over a two week campaign.</p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3 stats">
      <h1>4.5k</h1>
      <p>clicks to website</p>
    </div>
    <div class="col-xs-6 col-md-3 stats">
      <h1>2.4k</h1>
      <p>Social Engagements</p>
    </div>
    <div class="col-xs-6 col-md-3 stats">
      <h1>17.3%</h1>
      <p>CTR to website</p>
    </div>
    <div class="col-xs-6 col-md-3 stats">
      <h1>155k</h1>
      <p>Students Reached</p>
    </div>
  </div>
</div>
<div class="employers-bottom-banner">
  <h1>Let's Talk</h1>
  <div class="center">
    <p>
      To find out how Fanbytes can help you connect with a Gen Z Audience fill in the form to get in touch!
    </p>
  </div>
  <%= link_to 'Contact Us', new_employer_path, class: "navbar-button" %>
</div>

