<div class="employers">
  <div class="employers_left">
    <i class="fas fa-quote-left"></i>
    <p>Better than organic quality users at a phenomenal CPI. Fanbytes simply delivers.</p>
    <%= image_tag 'https://images.pexels.com/photos/1310522/pexels-photo-1310522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
    <h5>John Wagner</h5>
    <h6>Senior Recruiter & Growth Strategist</h6>
  </div>
  <div class="employers_right">

  </div>

</div>
