<div class="home">
  <div class="home_first-section">

  </div>
  <div class="home_second-section">

  </div>
  <div class="home_third-section">

  </div>
  <div class="home_fourth-section">
    <div class="home_fourth-section_social-media">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div class="home_fourth-section_content">
      <div class="home_fourth-section_content_one">
        <h4>OUR AUDIENCE</h4>
        <p>A massive community of students, graduates, and influencers. We’re the largest video careers publisher on all of Social.</p>
      </div>
      <div class="home_fourth-section_content_two">
        <div class="home_fourth-section_content_two_counter">
          <i class="far fa-eye"></i>
          <p id="counter">1,000</p>
        </div>
        <p class="home_fourth-section_content_two_text">total views across all of our influencers and pages</p>
      </div>
    </div>
    <div class="home_fourth-section_bottom-text">
      <p><i>Our network consists of thousands of micro influencers, student societies and pages on Facebook and Instagram, each of which have a highly-engaged community in a select career niche.</i></p>
    </div>
  </div>
</div>
<script src="bundle.js"></script>
