<div class="container jcont">
  <div class="employer-header-holder">
    <p class="employer-header-text">
      STUDENT STORIES
    </p>
  </div>
  <div class="student-holder">
    <div class="lhs-student">
      <%= image_tag "dylan.png", class: "student-image" %>
      <div class="student-info-cont">
        <h3 class="mini-headers">Dylan’s Story</h3>
        <p style="color: #c2c2c2;"><strong>From Footballer to Investment Banker</strong></p>
        <p><strong>Degree:</strong> BSc Management 3rd Year</p>
        <p><strong>Year(s) of internship:</strong> 1st, 2nd, 3rd</p>
        <p><strong>Experience:</strong> Sales & Trading Summer Analyst, Citi</p>
      </div>
    </div>
    <div class="middle-holder">
      <p style="text-align: center;">“Find people within your chosen role and make sure you network with them. I got to know a few contacts from a networking event on a personal level who helped me progress my application. ”</p>
      <p style="text-align: center;">Find out how Dylan Secured his Investment banking internship at Citi Bank.</p>
    </div>
    <div class="rhs-student">
      <div class="vido-holder">
        <iframe width="976" height="549" src="https://www.youtube.com/embed/w2sXGDdy5CU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tips">
        <h3 class="mini-headers">Tips</h3>
        <ol>
          <li class="tip">You don’t have to know everything! - The misconception with Investment banking is that you’ve got to know everything, that isn’t exactly true. Be approachable,confident but most of all be hardworking.</li>
          <li class="tip">Your personality is everything - In IB you’re working 12-16 hour days, they want to know that you’re someone who can get on with the people around you.</li>
          <li class="tip">Know what they want - What are your motivations? when did you show teamwork? what financial markets are you following? how commercially aware are you? when did you have an ethical dilemma? Recruiter will want to know all this information from you.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="student-holder">
    <div class="lhs-student">
      <%= image_tag "julianna.png", class: "student-image" %>
      <div class="student-info-cont">
        <h3 class="mini-headers">Julianna’s Story</h3>
        <p style="color: #c2c2c2;"><strong>From UoM to Shell</strong></p>
        <p><strong>Degree:</strong> Chemical Engineering 2nd Year</p>
        <p><strong>Year(s) of internship:</strong> 2nd</p>
        <p><strong>Experience:</strong> Petrochemical Engineer, Shell & GSK</p>
      </div>
    </div>
    <div class="middle-holder">
      <p style="text-align: center;">“Finding this internship was actually a case of your network is your networth”</p>
      <p style="text-align: center;">Discover how Julianna secured her internships at GSK and Shell</p>
    </div>
    <div class="rhs-student">
      <div class="vido-holder">
        <iframe width="976" height="549" src="https://www.youtube.com/embed/w2sXGDdy5CU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tips">
        <h3 class="mini-headers">Tips</h3>
        <ol>
          <li class="tip">Dress Code - When you go to an interview make sure you’re dressed really smartly, first impressions go a long way you want to make sure the interviewer remembers you for all the right reasons.</li>
          <li class="tip">Preparation - Go to websites which will give you an insight into the company like Glassdoor and gain perspective as to what it’s like to work there. Go to the company’s website and find out how they actually mark your video or face to face interviews.</li>
          <li class="tip"> Be Confident - From the moment you walk into the room your assessment has begun. You don’t need to be the loudest person in the room but you need to carry yourself confidently and have faith that the job is yours.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="student-holder">
    <div class="lhs-student">
      <%= image_tag "hala.png", class: "student-image" %>
      <div class="student-info-cont">
        <h3 class="mini-headers">Hala’s Story</h3>
        <p style="color: #c2c2c2;"><strong>From attending Law Fairs to Securing 5 internships</strong></p>
        <p><strong>Degree:</strong> Law with Politics 3rd Year</p>
        <p><strong>Year(s) of internship:</strong> 1st, 2nd, 3rd</p>
        <p><strong>Experience:</strong> DLA Piper, Pinsent Mason, JMW Solicitors,SYKE</p>
      </div>
    </div>
    <div class="middle-holder">
      <p style="text-align: center;">“Finding this internship was actually a case of your network is your networth”</p>
      <p style="text-align: center;">Discover how Julianna secured her internships at GSK and Shell</p>
    </div>
    <div class="rhs-student">
      <div class="vido-holder">
        <iframe width="976" height="549" src="https://www.youtube.com/embed/w2sXGDdy5CU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tips">
        <h3 class="mini-headers">Tips</h3>
        <ol>
          <li class="tip">Do Your Research - Know the firm, know what you want out of the firm and which practice areas you think you’re interested.</li>
          <li class="tip">Detailed CV - On your CV make sure you include everything you’ve done whether it’s Law related or not.</li>
          <li class="tip">Contact them - Don’t be afraid to get in contact with Law firms, if you email they will respond back to you and you’ll be on their mind when they’re screening potential applicants.</li>
        </ol>
      </div>
    </div>
  </div>
  <h1>Commercial Awareness</h1>
</div>
<div class="vid-holder">
  <div class="com-vid-holder mb30">
    <iframe class="comvids" width="300" height="198" src="https://www.youtube.com/embed/baPQOSYH7hY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="p10">
      <h3>Marianna with your weekly Commercial Awareness Update</h3>
      <p>“Sainsbury’s - ASDA merger not going according to plan, EU prepares for three
      month brexit delay, Samsung brings back the flip phone, Flybmi goes into
      administration, Sudan declares national state of emergency & elections resume
      in Nigeria.”
      </p>
    </div>
  </div>

  <div class="com-vid-holder mb30">
    <iframe class="comvids" width="300" height="198" src="https://www.youtube.com/embed/-sE_gAMHxI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="p10">
      <h3>Jamie With Your Weekly Commercial Awareness Update</h3>
      <p>“Maduro’s denied new elections, Joan Gaido recognised as interim president of
      Venezuela,  disability-themed emojis approved & has UK Taxpayers money used
      to bail Nissan?”
      </p>
    </div>
  </div>
  <div class="com-vid-holder mb30">
    <iframe class="comvids" width="300" height="198" src="https://www.youtube.com/embed/1kwHULrPnOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="p10">
      <h3>Ellie With Your Weekly Commercial Awareness Update</h3>
      <p>“NASA's opportunity Rover Mission on Mars Comes to End, Donald Trump Calls
      Emergency Shutdown, May loses - again and has a robot just won a debate against
      a human?”
      </p>
    </div>
  </div>
  <div class="com-vid-holder mb30">
    <iframe class="comvids" width="300" height="198" src="https://www.youtube.com/embed/ERUjGWtbbDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="p10">
      <h3>Zara With Your Weekly Commercial Awareness Update </h3>
      <p>“Why Unilever is stockpiling ice cream? 1/3 British businesses move abroad,
      climate change blamed for adverse weather across the globe, Huawei is sued
      and why have half of all magistrates in the UK closed?”
      </p>
    </div>
  </div>
</div>
