<div class="student-holder">
    <div class="lhs-student">
      <%= image_tag "julianna.png", class: "student-image"  %>
      <p>Juliana’s story</p>
      <p>From UoM to Shell</p>
      <p>Degree Subject</p>
      <p>Chemical Engineering</p>
      <p>Year:</p>
      <p>2rd</p>
      <p>Experience</p>
      <p>Petrochemical Engineer, Shell & GSK</p>
    </div>
    <div class="rhs-student">
      <iframe width="100%" height="66%" src="https://www.youtube.com/embed/w2sXGDdy5CU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>“Finding this internship was actually a case of your network is your networth”</p>
      <p>- Discover how Julianna secured her internships at GSK and Shell</p>
      <h3>TIPS</h3>
      <ol>
        <li>Dress Code - When you go to an interview make sure you’re dressed really smartly, first impressions go a long way you want to make sure the interviewer remembers you for all the right reasons.</li>
        <li>Preparation - Go to websites which will give you an insight into the company like Glassdoor and gain perspective as to what it’s like to work there. Go to the company’s website and find out how they actually mark your video or face to face interviews.</li>
        <li> Be Confident - From the moment you walk into the room your assessment has begun. You don’t need to be the loudest person in the room but you need to carry yourself confidently and have faith that the job is yours.</li>
      </ol>
    </div>
  </div>
  <div class="student-holder">
    <div class="lhs-student">
      <%= image_tag "hala.png", class: "student-image"  %>
      <p></p> Hala’s Story
      <p>From attending Law Fairs to Securing 5 internships</p>
      <p>Degree Subject</p>
      <p>Law with Politics</p>
      <p>Year:</p>
      <p>3rd</p>
      <p>Year(s) of internship:</p>
      <p>1st, 2nd, 3rd</p>
      <p>Experience</p>
      <p>DLA Piper, Pinsent Mason, JMW Solicitors,SYKE</p>
    </div>
    <div class="rhs-student">
      <iframe width="100%" height="66%" src="https://www.youtube.com/embed/w2sXGDdy5CU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>“I was given a lot of practical work, I met up with clients, I was on conference calls, went to government agencies and submitted documents on behalf of clients”</p>
      <p> - Find out how Hala Secured her Marketing internship internship at Edelman.</p>
    </div>
    <ol>
      <li>Do Your Research - Know the firm, know what you want out of the firm and which practice areas you think you’re interested.</li>
      <li>Detailed CV - On your CV make sure you include everything you’ve done whether it’s Law related or not.</li>
      <li>Contact them - Don’t be afraid to get in contact with Law firms, if you email they will respond back to you and you’ll be on their mind when they’re screening potential applicants.</li>
    </ol>
  </div>
