<div class="student-influencers">
  <div class="student-influencers_left">
    <i class="fas fa-quote-left"></i>
    <p>Better than organic quality users at a phenomenal CPI. Fanbytes simply delivers.</p>
    <%= image_tag 'https://images.pexels.com/photos/1542085/pexels-photo-1542085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    <h5>John Wagner</h5>
    <h6>Senior Recruiter</h6>
  </div>
  <div class="student-influencers_right">

  </div>

</div>
