<div class="student-influencers">
  <div class="student-influencers_left">
    <i class="fas fa-quote-left"></i>
    <p>Better than organic quality users at a phenomenal CPI. Fanbytes simply delivers.</p>
    <%= image_tag '' %>
    <h5>John Wagner</h5>
    <h6>Senior Recruiter</h6>
  </div>
  <div class="student-influencers_right">

  </div>

</div>
